.cover__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 33px 16px;
  position: relative;
  text-decoration: none;
}

.cover__link::before {
  content: '';
  display: block;
  background-color: #2a2c2f;
  opacity: .3;
  transition: opacity .2s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cover__link:hover::before {
  opacity: .8;
}

@media screen and (min-width: 425px) {
  .cover__link {
    padding: 15% 16px;
  }
}

@media screen and (min-width: 768px) {
  .cover__link {
    padding: 115px 32px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__link {
    padding: 195px 48px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__link {
    padding: 245px 100px;
  }
}
