.place__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  margin: 0 0 32px;
  padding: 0 16px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 1.06;
  }
}
