.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 48px;
  max-width: calc(100% - 32px);
  margin: auto;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 28px;
    max-width: calc(100% - 48px);
  }
}

@media screen and (min-width:1024px) {
  .header {
    max-width: calc(100% - 96px);
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-bottom: 56px;
  }
}
