.lead__caption {
  font-family: 'Inter';
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  margin: 8px 0;
  padding: 0 0 0 16px;
}

@media screen and (min-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    padding-left: 0;
  }
}
