.cover__title {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  margin: 0 0 16px;
  text-align: center;
  color: #fff;
  position: relative;
  max-width: 250px;
}

@media screen and (min-width: 525px) {
  .cover__title {
    font-size: 42px;
    max-width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 1.06;
    margin-bottom: 32px;
    max-width: 560px;
  }
}
