.intro__title {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  margin: 0;
  color: #fff;
  margin-bottom: 40px;
  max-width: 230px;
}

@media screen and (min-width: 525px) {
  .intro__title {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 1.07;
  }
}

